<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Email Sending Application</h1>
        <p>Use the links below to navigate:</p>
        <ul>
            <li><a th:href="@{/sendEmailForm}">Send Email</a></li>
            <li><a th:href="@{/sendEmailFormWithAttachment}">Send Email With attachment</a></li>
        </ul>
    </div>
</body>
</html>
